.landing-page {
    background-image: url('./assests/images/gradients.png');
    height: 100%;
    width: 100%;
    height: 130vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
li{
    font-family: 'Aeonik';
    line-height: 35px;
}

/* p{
    font-family: 'Aeonik';
} */
/* h1,  h3, h4, h5, h6{
    font-family: 'Aeonik';
} */
button{
    font-family: 'Aeonik';
}
h2{
font-family: 'MadeUse';
font-weight: 500;
line-height: 72px;
}

.landing-phase2{
        background-image: url('./assests/images/Eazi\ Wave.png');
        height: 100%;
        width: 100%;
        height: 130vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
}

/* .bg__circle{
    background-image: url('./assests/images/BG.png');
    height: 100%;
    width: 30%;
    z-index: 100000;
    height: 130vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} */

.landing-phase3{
   height: 165vh;
}

.landing-phase4{
    background-image: url('./assests/images/Intersect.png');
    height: 100%;
    width: 100%;
    height: 130vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

input{
    outline: none;
}

.high{
   height: 150vh; 
}
/* .sidebar{
    margin-top: -80px;
} */


.apexcharts-legend-marker{
    display: none !important;
}
.apexcharts-menu-icon{
    display: none !important;
}

/* Mobile for Wallet */

@media screen and (max-width: 768px){
   .mobile{
    display: block;
   }
}
.show {
    transform: translateX(0);
  }
  
  .hide {
    transform: translateX(-100%);
  }
  /* Existing styles */

/* Hide sidebar on desktop screens */
.desktop-sidebar {
    display: none;
  }
  
  /* Show sidebar on mobile screens */
  .sidebar.show {
    transform: translateX(0);
  }
  
  .sidebar.hide {
    transform: translateX(-100%);
  }
  
  /* Add media query to show/hide sidebar based on screen size */
  @media screen and (min-width: 768px) {
    .desktop-sidebar {
      display: block;
    }
  
    .sidebar {
      transform: translateX(0);
    }
    .nav{
        margin-top: -852px;
    }
  }
  